# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Flask environment variables
.env

# Node modules
frontend/node_modules/

# Build directories
frontend/build/
frontend/.next/
frontend/out/

# Logs
*.log

# Coverage directory used by coverage.py
htmlcov/

# pyenv
.python-version

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# dotenv
.env.local
.env.development.local
.env.test.local
.env.production.local

# Sentry CLI
.sentryclirc

# IDE
.vscode/
.idea/
